{% extends "base.html" %}

{% block body %}
<br><br>
<div class="row justify-content-center">
        <div class="col-sm-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-center text-capitalize">Book Details</h5>
                  </div>
                <div class="card-body text-center">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        {{ form.as_p }}
                        <button type="submit" class="btn accent-bg">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}