{% extends "base.html" %}

{% block body %}
<br />
<div class="container-fluid pt-3">
    <h1 class="display-3 text-center">Textbook Exchange</h1>
    <br />

    <div class="row">
        <div class="col-lg-4">
            <div class="card shadow mb-4 text-center">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-center">Your Profile</h5>
                </div>
                <div class="card-body">
                    <p>Username: {{ user.username }}</p>
                    <p>Email: {{ user.email }}</p>
                    <p>Date Joined: {{ user.date_joined }}</p>
                    <a href="{% url 'logout' %}" class="btn accent-bg">Logout</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow mb-4 text-center">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-center">Incoming Friend Requests</h5>
                </div>
                {% if requests %}
                <div class="card-body">
                    {% for request in requests %}
                    <div class="row mb-2">
                        <div class="col">
                            <a href="{% url 'profile_detail' request.from_user.id %}">{{ request.from_user }}</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'accept_friend_request' request.from_user.id %}" class="btn btn-sm accent-bg">Accept</a>
                            <a href="{% url 'reject_request' request.from_user.id %}" class="btn btn-sm accent-bg">Delete</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <li class="list-group-item">You have no friend requests at the moment.</li>
                {% endif %}
            </div>

            <div class="card shadow mb-4 text-center">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-center">Outgoing Friend Requests</h5>
                </div>
                {% if outgoing %}
                <div class="card-body">
                    {% for request in outgoing %}
                    <div class="row mb-2">
                        <div class="col">
                            <a href="{% url 'profile_detail' request.to_user.id %}">{{ request.to_user }}</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'remove_request' request.to_user.id %}" class="btn btn-sm accent-bg">Cancel Request</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <li class="list-group-item">You haven't sent any friend requests at the moment.</li>
                {% endif %}
            </div>
        </div>

        <div class="col">
            <div class="card shadow mb-4 text-center">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-center">Your Friends</h5>
                </div>
                <ul class="list-group">
                    {% if all_friends %}
                    {% for friend in all_friends %}
                    <li class="list-group-item text-center"><a href="{% url 'profile_detail' friend.id%}">{{ friend }}</a></li>
                    {% endfor %}
                    {% else %}
                    <li class="list-group-item">You haven't added any friends at the moment.</li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <hr />

    <div class="container-fluid pt-3">
        <h1 class="display-5 text-center">Your Books For Sale</h1>
        <br />
    </div>

    <div class="row">
        {% if user.book_set.all %}
        {% for book in user.book_set.all %}
        <div class="col-sm-3 mb-3">
            <div class="card border-dark text-center">
                <!--    <img src="..." class="card-img-top" alt="...">     </p>-->
                <div class="card-body container">
                    <h5 class="card-title"><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">${{book.price|floatformat:2}}</h6>
                    <img src="{{ book.image.url }}" class="img-responsive" style="width:100%; float:center;" />
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Course: <a href="{% url 'course_detail' book.course.id %}">{{ book.course }}</a></li>
                        <li class="list-group-item">Version: {{book.version}}</li>
                        <li class="list-group-item">Year: {{book.year}}</li>
                        <!--    <li class="list-group-item">Image: {{book.image}}</li>      </p>-->
                    </ul>
                    <a href="{% url 'edit_book' book.id %}" class="btn accent-bg">Edit</a>
                    <a href="{% url 'delete_book' book.id %}" class="btn accent-bg">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="card-body">
            <a href="{% url 'choose_course' %}" class="btn accent-bg">Add More Textbooks</a>
        </div>
        {% else %}
        <h3>You don't have any books for sale right now.</h3>
        <div class="card-body">
            <a href="{% url 'choose_course' %}" class="btn accent-bg">Add a Textbook</a>
        </div>
        {% endif %}


        <br /><br /><br />

        <hr />


        <div class="container-fluid pt-3">
            <h1 class="display-5 text-center">Your Favorited Books</h1>
            <br />
        </div>

        <div class="row">
            {% if user.favorited.all %}
            {% for book in user.favorited.all %}
            <div class="col-sm-3 mb-3">
                <div class="card border-dark text-center">
                    <!--    <img src="..." class="card-img-top" alt="...">     </p>-->
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">${{book.price|floatformat:2}}</h6>
                        <img src="{{ book.image.url }}" class="img-responsive" style="width:100%; float:center;" />
                        <!--   <p class="card-text">Example Text.     </p>-->
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Seller: <a href="{% url 'profile_detail' book.seller.id %}">{{ book.seller }}</a></li>
                            <li class="list-group-item">Course: <a href="{% url 'course_detail' book.course.id %}">{{ book.course }}</a></li>
                            <li class="list-group-item">Version: {{book.version}}</li>
                            <li class="list-group-item">Year: {{book.year}}</li>
                            <!--    <li class="list-group-item">Image: {{book.image}}</li>      </p>-->
                        </ul>
                        <a href="{% url 'book_detail' book.id %}" class="btn btn-sm accent-bg">More Details</a>
                        <a href="{% url 'remove_favorite' book.id %}" class="btn btn-sm accent-bg">Remove</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h3>You don't have any favorited books right now.</h3>
            <div class="card-body">
                <a href="/" class="btn accent-bg">Look for Textbooks</a>
            </div>
            {% endif %}

            {% endblock %}