/*.aligned {
      display: space-evenly;
      align-items: center;
  }
  span{
    padding: 10px;
  }*/

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    padding: 10px;
    flex: 30%;
  }

  .flex-item-left {
    padding: 10px;
    flex: 30%;
  }
  
  .flex-item-right {
    padding: 10px;
    flex: 30%;
  }

  @media (max-width: 800px) {
    .flex-item-right, .flex-item-center, .flex-item-left {
      flex: 100%;
    }
  }